#a {
  background-color: rgb(159, 43, 43);
}
#b {
  background-color: rgb(43, 47, 159);
}
#c {
  background-color: rgb(177, 225, 46);
}
#d {
  background-color: rgb(159, 43, 149);
}
#e {
  background-color: rgb(63, 118, 176);
}
#f {
  background-color: rgb(247, 247, 247);
}
#g {
  background-color: rgb(238, 149, 149);
}
#h {
  background-color: rgb(79, 180, 235);
}
#i {
  background-color: rgb(22, 247, 176);
}
/* tablet breakpoint */
@media only screen and (min-width: 900px) {
  #a {
    background-color: rgb(58, 43, 159);
  }
  #b {
    background-color: rgb(159, 43, 43);
  }
  #c {
    background-color: rgb(43, 159, 49);
  }
  #d {
    background-color: rgb(159, 43, 155);
  }
  #e {
    background-color: rgb(91, 43, 159);
  }
  #f {
    background-color: rgb(140, 159, 43);
  }
  #g {
    background-color: rgb(255, 0, 0);
  }
  #h {
    background-color: rgb(88, 245, 195);
  }
  #i {
    background-color: rgb(43, 159, 118);
  }
}
/* desktop breakpoint */
@media only screen and (min-width: 1250px) {
  #a {
    background-color: rgb(101, 96, 135);
  }
  #b {
    background-color: rgb(164, 120, 120);
  }
  #c {
    background-color: rgb(101, 143, 103);
  }
  #d {
    background-color: rgb(159, 109, 157);
  }
  #e {
    background-color: rgb(63, 46, 87);
  }
  #f {
    background-color: rgb(218, 237, 122);
  }
  #g {
    background-color: rgb(252, 157, 157);
  }
  #h {
    background-color: rgb(152, 228, 204);
  }
  #i {
    background-color: rgb(65, 97, 86);
  }
}
